html {
  height: 100% !important;
}

body {
  height: 100%;
  color: $gray;
  font-family: $font-family-base;
  font-size: $font-size-base;
  background-color: $body-bg;
}

#app {
  height: 100%;
}

.main-content {
  height: 100%;

  &-login {
    margin-left: 0;
    padding-top: 80px;

    @include media-breakpoint-down(sm) {
      padding-top: 40px;
    }
  }
}

*:focus {
  box-shadow: none !important;
}

a {
  text-decoration: none !important;
}

.v-application {
  font-family: $font-family-base;
  color: $gray !important;

  .v-application--wrap {
    min-height: unset;
    background: $body-bg;
  }
}

.container {
  padding-top: unset;
  padding-bottom: unset;

  div[class^='col'] {
    padding-top: unset;
    padding-bottom: unset;
  }
}

