// BODY
$body-bg: #f9f8f8;

// TYPOGRAPHY
$font-family-base: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

/* COLORS */
$green: #21bf48;
$red: #ed4758;
$blue: #0072ed;
$white: #fff;
$gray: #5e6c84;

/* BLUES */
$blue-600: #1264bd;
$blue-800: #1a4d8d;
