.card,
.v-card {
  box-shadow: 0rem 0.3125rem 0.3125rem 0rem rgb(82, 63, 105, 0.05) !important;
  padding: 17px 22px;
  border-radius: 10px !important;
  border: none;
  height: auto;
  color: $gray !important;

  &.card-simple {
    box-shadow: 0rem 0.3125rem 0.3125rem 0rem rgb(82, 63, 105, 0.05);

    .card-body {
      padding: 18px 40px 34px;
    }
  }
}
