form {
  label {
    color: $blue-600;
  }

  .form-control {
    height: 48px;
    border-radius: 0.4rem;
    font-size: 0.9rem;
    color: $gray;

    &:focus {
      border-color: $blue-600;
    }
  }
}
